@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #042940;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9FC131;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9FC131;
}